.floating_button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    z-index: 10;
}

@mixin button {
    width: 44px;
    height: 44px;
    background-image: url("../../Image/btn_gray.png");
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    &.active {
        background-image: url("../../Image/btn_active.png");
    }
}

.toTop_button {
    margin-right: 16px;
}

.jumpBottom_btn {
    @include button();
}

.jumpTop_btn {
    @include button();
    transform: rotate(180deg);
}
