.floating_button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    z-index: 10;
}
@mixin button {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    cursor: pointer;
}

.toTop_button {
    margin-right: 16px;
    @include button();
}

.toBottom_button {
    @include button();
}

@mixin JumpBtn {
    position: relative;
    width: 44px;
    height: 44px;
    &::after {
        content: "";
        background: #edf2f8;
        box-shadow: -6.28571px -3.14286px 12.5714px rgba(255, 255, 255, 0.7),
            4.71429px 3.14286px 18.8571px rgba(28, 74, 117, 0.36);
        filter: blur(1.57143px);
        border-radius: 33px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    &.active {
        &::after {
            background: radial-gradient(
                    315.18% 315.18% at -124.11% -101.79%,
                    #b9cce2 11.1%,
                    #ffffff 85.21%
                )
                #e3edf7;
        }

        .jumpBtn_btnIcon {
            opacity: 0;
        }
        .jumpBtn_activeIcon {
            opacity: 1;
        }
    }
}

.jumpBtn_btnIcon {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: 1;
    transition: all 0.1s linear;
    top: 0;
    left: 0;
    z-index: 3;
}

.jumpBtn_activeIcon {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: 0;
    transition: all 0.1s linear;
    z-index: 3;
}

.top_triangle {
    @include JumpBtn();
}
.bottom_triangle {
    @include JumpBtn();
    .jumpBtn_btnIcon {
        transform: rotate(180deg);
    }
    .jumpBtn_activeIcon {
        transform: rotate(180deg);
    }
}
