.floating_button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    z-index: 10;
}

@mixin button {
    flex: 0 0 auto;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-image: url("../../Image/btn_jumpgray.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: auto;
    &.active {
        cursor: pointer;
        background-image: url("../../Image/btn_jumpactive.png");
    }
}

.jumpBtn_top {
    @include button();
    transform: rotate(180deg);
}

.jumpBtn_bottom {
    @include button();
}

.toTop_button {
    margin-right: 16px;
}
