@use "./normalize.scss" as *;

// $fontFamily: alipuhui, sans-serif;
$fontFamily: sans-serif;

html,
.wrapper,
body,
body > div:not([class], [id]) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

html,
body {
    overflow: hidden;
}

.wrapper {
    background-color: #fff;
}

.question {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;
    flex: 0 0 auto;
}

.questionContent {
    color: #212121;
    font-family: $fontFamily;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.questionDes {
    color: #757575;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.main {
    width: 100%;
    position: relative;
    z-index: 2;
}

@mixin Padding {
    padding: 0 16px;
    box-sizing: border-box;
}

.options {
    width: 100%;
    margin-top: 32px;
}

.options_total {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    @include Padding();
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;

    color: #bdbdbd;
}

.options_totalVal {
    padding: 0 5px;
    color: #22a6b3;
}

.options_scrollBody {
    max-height: 200px;
    @include Padding();
}

.options_items {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    width: calc(100% + 20px);
}

.item {
    padding: 8px 12px;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-flow: row nowrap;
    letter-spacing: 0.2px;
    flex: 0 0 auto;
    color: #4d4d4d;
    margin: 8px 16px 8px 0;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 6px;
    position: relative;
    &.active {
        background: #f7feff;
        color: #22a6b3;
    }
    .itemContent {
        position: relative;
        z-index: 2;
    }
}

.hr {
    width: calc(100% - 32px);
    height: 1px;
    background-color: #ebebeb;
    margin: 40px auto 32px auto;
}

.placeTips {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #4d4d4d;
    @include Padding();
    margin-bottom: 12.5px;
}

.rulerContainer {
    @include Padding();
}

.ruler {
    position: relative;
    height: 36px;
    &::before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #bdbdbd;
        z-index: 2;
        border-radius: 1px;
    }
}

@mixin Scale {
    top: 0;
    position: absolute;
    &::after {
        content: "";
        left: -0.5px;
        top: 0;
        width: 1px;
        background-color: #bdbdbd;
        border-radius: 1px;
        position: absolute;
        height: 100%;
    }
}

.scaleItem_middle {
    @include Scale();
    height: 8px;
}

.scaleItem_icon {
    @include Scale();
    height: 12px;
}

.scaleItem_big {
    position: absolute;
    box-sizing: content-box;
}

.scaleItemValue {
    font-family: "Roboto";
    font-style: normal;
    top: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #757575;
    transform: translateX(-50%);
    padding-top: 12px;
    position: absolute;
}

.scaleItem {
    @include Scale();
    height: 6px;
}

.dragHotspot {
    border-radius: 10px;
    width: calc(100% - 32px);
    position: relative;
    margin: 22px auto 0 auto;
}

.sliderTrunk {
    height: 6px;
    cursor: pointer;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.ratedOption_items {
    z-index: 2;
    top: -24px;
    left: 0;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column nowrap;
    transition: all 0.1s linear;
}

.ratedOption_itemsContainer {
    margin-top: -2px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column nowrap;
    pointer-events: auto;
}

.ratedOption_item {
    padding: 6px 14px;
    box-sizing: content-box;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateX(-50%);
    letter-spacing: 0.2px;
    color: #4d4d4d;
    word-wrap: break-word;
    outline: none;
    word-break: break-word;
    white-space: pre-wrap;
    cursor: pointer;
    border: 0.6px solid #22a6b3;
    flex-flow: row wrap;
    background: #ffffff;
    border-radius: 6px;
    &.active {
        color: #22a6b3;
        background: #f7feff;
    }
    .itemContent {
        position: relative;
        z-index: 3;
    }
}

.ratedOption_score {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #22a6b3;
    transform: translateX(-50%);
    margin-bottom: 6px;
    white-space: nowrap;
}

.dragHotspot_wrap {
    margin-top: 35px;
    min-height: 70px;
}

.ratedOption_pointer {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
}

.ratedOption_joinIcon {
    width: 2px;
    height: 8px;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: -17px;
}

.group_top {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #4d4d4d;
    @include Padding();
    margin-bottom: 24px;
    margin-top: 32px;
}

.ratedOption_icon {
    color: #fff;
    position: relative;
    z-index: 1;
    transform: translateX(-50%);
}
